* {
  background: white;
  outline: 1px solid black;
}

li {
  list-style: none;
}

body {
  background: black;
}

header {
  width: 960px;
  height: 100px;
  margin: auto;
}

header div> * {
  display: inline-block;

}

header div ul {
  float: right;
}
header div ul li {
  display: inline-block;
}

.header_text *{
  display: block;
}

main {
  margin: auto;
  width: 960px;
  height: 1000px;
  margin-top: 0px;
}

img[src="choco-pizza.png"] {
  margin-left: auto;
  margin-top: 30px;

}

.ingredients {
  width: 960px;
  height: 200px;
  background: url("list-bg.png");
}

.ingredients > div {
  display: inline-block;
}

.ingredients > div > * {
  display: block;
}
